div.input{
    position: relative;
}

div.input{
    top: 0;
    left: 10px;
    background: white;
    padding: 5px 2px;
}

div.input{
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}

div.input{
    margin-top: 20px;
}